<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    welcome: "<%= image_path('welcome.png')%>",
    cog_wheel: "<%= image_path('cog_wheel.png')%>"
  }

</script>


<main id="root">

</main>
