/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

/*Components*/
 @import "components/session_form.scss";
 /*.welcome {
      flex-grow: 1;
      justify-content: center;
      margin: 30px auto 0;
      max-width: 935px;
      width: 100%;
      align-items: stretch;
      display: flex;
      flex-shrink: 0;
      padding: 0;
      position: relative;
  }*/

 /*.welcome-img {
     align-self: center;
     background-position: 0 0;
     background-size: 454px 618px;
     flex-basis: 454px;
     height: 618px;
     margin-left: -35px;
     margin-right: -15px;
 }

 .form-div{
     flex-grow: 1;
     justify-content: center;
     margin-top: 12px;
     max-width: 350px;
     align-items: stretch;
     border: 0 solid #000;
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
     margin: 0;
     padding: 0;
     position: relative;
     font: inherit;
     vertical-align: baseline;
   }

   .form-holder{
     background-color: #fff;
     border: 1px solid #e6e6e6;
     border-radius: 1px;
     margin: 0 0 10px;
     padding: 10px 0;
     align-items: stretch;
     box-sizing: border-box;
     box-sizing: border-box;
     flex-shrink: 0;
     position: relative;
     font: inherit;
     vertical-align: baseline;
   }

   .form-holder h1{
     display: flex;
     justify-content: center;
     font-family: 'Cookie', cursive;
     font-size: 45px
   }

   .form-box{
     margin-bottom: 10px;
     align-items: stretch;
     border: 0 solid #00;
     display: flex;
     flex-shrink: 0;
     margin: 0;
     padding: 0;
     position: relative;
     font: inherit;
     vertical-align: baseline;
     justify-content: center
   }

   .form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
   }

   .username{
     padding: 0px 0px 7px 0px;
     flex-direction: column;
     display: flex;
     font: inherit;
     vertical-align: baseline;
   }

   .input-field{
     font-weight: lighter;
     font-size: 15px;
     padding: 6px;
     width: 258px;
   }


   .password {
    padding: 0px 0px 13px 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    vertical-align: baseline;
 }



 .button-span{
    margin: 4px 40px 14px;
    display: block;
    position: relative;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
 }

 .button{
   font-size: 12px;
   height: 23px;
   cursor: pointer;
   background: #3897f0;
   border-color: #3897f0;
   color: #fff;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   width: 100%;
 }

 .or-div{
   display: inline-flex;
   margin: 20px 0px 0px;
   align-items: stretch;
   font: inherit;
 }

 .or-line{
   width: 100%;
   margin: 7px 0;
   background-color: #c7c7c7;
   height: 1px;
 }

.or-text{
  color: #999;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 8px;
  text-transform: uppercase;
  flex-direction: column;
  font: inherit;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.option-login{
  margin: 10px 40px 14px;
  display: block;
  position: relative;
  font: inherit;
  vertical-align: baseline;
}

.option-login-button{
  padding: 0 8px;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: #003569;
  font-weight: 400;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  display: inline-block;
  margin: 0em 0em 0em 0em;
  font: 14px system-ui;
}

.option-login-text{
  color: #385185;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  white-space: nowrap;
}

.error-text{
  color: #ed4956;
  margin: 10px 40px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  color: red;
  font-size: 14px
}

.error-text ul{
  padding: 0px 0px 0px 15px;
  max-width: 180px;
  list-style-type: none;
}

.link-toggle-div{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  font: inherit;
  vertical-align: baseline
  color: #262626;
}

.link-toggle-text{
  color: #262626;
  font-size: 14px;
  margin: 15px;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.link-toggle-link{
  color: #3897f0;
  text-decoration: none;
}*/
